.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #30336b;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NON-TEMPLATE STYLING BEGINS HERE */
#head {
  /* color: #535c68; */
  letter-spacing: 0.06em;
  color: #c9c9c9;
}

#countdownTicker {
  margin: 0 auto;
  width: 70%;
  position: relative;
}

#countdownLabel {
  width: 70%;
  margin: 0 auto;
  height: 10vh;
  display: grid;
  place-items: center;
  font-size: 1.8em;
  letter-spacing: 0.05em;
  color: #badc58;
  text-transform: uppercase;
  text-shadow: 1px 4px 7px rgba(0, 0, 0, 0.7);
}

#countdownLabel::after {
  content: "";
  position: absolute;
  bottom: 40px;
  width: 35%;
  left: 50%;
  transform: translateX(-50%);
  height: 14px;
  background-color: rgba(186, 220, 88, 0.3);
  box-shadow: 0px 3px 1rem rgba(0, 0, 0, 0.4);
  z-index: -1;
}

#countdownLabel span {
  display: inline-block;
}

#countdownTicker span {
  /* 
  
  === this places numbers below labels ===
  position: absolute;
  bottom: -1.5em;
  left: 50%;
  transform: translateX(-50%); 
  
  */

  display: block;
  font-size: 2.5em;
  color: #f8d249;
}

#countdownTicker ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#countdownTicker ul li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #c9c9c9;
  letter-spacing: 0.03em;
}

.datePicker {
  padding: 1.25rem 3rem;
  font-size: 2.1rem;
  text-transform: uppercase;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  width: 100%;
  color: #333;
  /* background-color: #2a2d63; */
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
  border-radius: 0.4rem;
  outline: none;
  text-align: center;
  transform: translateX(-3rem);
  transition: 0.2s ease-out;
  box-shadow: 1px 1px 0.6rem rgba(0, 0, 0, 0.5);
}

.datePicker::after {
  content: "";
}

.datePicker:focus {
  color: #222;
  text-shadow: 0.5px 1px 2.5px rgba(0, 0, 0, 0.3);
}
